<a href="https://colab.research.google.com/github/VineetGp/Jupyter-Notebooks/blob/main/TF_IDF(manually).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from math import log10

In [ ]:
s1 = 'The cat sat on my face'
s2 = 'The dog sat on my bed'

In [ ]:
bow1 = s1.split()
bow2 = s2.split()
print(bow1)
print(bow2)

['The', 'cat', 'sat', 'on', 'my', 'face']
['The', 'dog', 'sat', 'on', 'my', 'bed']

In [ ]:
wordset = set(bow1).union(set(bow2))
wordset

{'The', 'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat'}

In [ ]:
wordDict1 = dict.fromkeys(wordset,0)
wordDict2 = dict.fromkeys(wordset,0)
for word in bow1:
  wordDict1[word]+=1
for word in bow2:
  wordDict2[word]+=1
bow_Vectors = pd.DataFrame([wordDict1,wordDict2], index=['v1','v2'])
bow_Vectors

    sat  The  on  bed  dog  face  my  cat
v1    1    1   1    0    0     1   1    1
v2    1    1   1    1    1     0   1    0

In [ ]:
def tf(worddict,BOW):
  N = len(BOW)
  tf = {}
  for word, count in worddict.items():
    tf[word] = count/float(N)
  return tf

def idf(docCorpus):
  N = len(docCorpus)
  idfDict = dict.fromkeys(docCorpus[0].keys(),0)
  for doc in docCorpus:
    for word, count in doc.items():
      if count>0:
        idfDict[word] += 1
  for word, count in idfDict.items():
    idfDict[word] = log10(N/float(count))
  return idfDict

def Tfidf(tf,idf):
  tfidf = {}
  for word, val in tf.items():
    tfidf[word] = val*idf[word]
  return tfidf

In [ ]:
tf1 = tf(wordDict1, bow1)
tf2 = tf(wordDict2, bow2)
IDF = idf([wordDict1,wordDict2])
tfidf1 = Tfidf(tf1,IDF)
tfidf2 = Tfidf(tf2,IDF)
tfidf = pd.DataFrame([tfidf1,tfidf2], index=['v1','v2'])
tfidf

    sat  The   on       bed       dog      face   my       cat
v1  0.0  0.0  0.0  0.000000  0.000000  0.050172  0.0  0.050172
v2  0.0  0.0  0.0  0.050172  0.050172  0.000000  0.0  0.000000